<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" 
      type="image/png" 
      href="./assets//favicon.ico">
    <script src="https://kit.fontawesome.com/84b8aac55c.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous"></script>
    <title>Chatalk</title>
</head>
<body>

        <div class="login">
            <form id="login" onsubmit="onSubmitLogin(event)">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Login</h5>
                      
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" 
                            autocomplete="off"
                            name="name"
                            id="name"
                            required='true' class="form-control" placeholder="Nome de Usuário" aria-label="Nome de Usuário" aria-describedby="button-addon2"
                            >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                  </div>
            </form>
            
        </div>

        <div class="logo"><img class="logo" src="./assets/logo-chatalk.png" alt=''/></div>
        <section class="chat-area">
            <div class="container">
                <div class='chat'>
                </div>
                
                <form onsubmit="onSubmitMessage(event)">
                    <div class="input-group mb-3">
                        <input  autocomplete="off" id="message"  type="text" class="form-control" placeholder="Sua mensagem" aria-label="Sua mensagem" aria-describedby="button-addon2">
                        <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>

        </section>
        <div>

        </div>

    <div class="backdrop"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="./script.js"></script>
</body>
</html>